{% extends "base.html" %}
{% load i18n %}
{% load courses_extra %}

{% block breadcrumbs %}
  {% include "courses/includes/breadcrumbs.html" with breadcrumbs=breadcrumbs %}
{% endblock %}
`
{% block content %}
<div class="py-5">
  <div class="container">
    <div class="row row-cols-1 {# row-cols-sm-2 row-cols-md-3 #} g-3">

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% translate 'User' %} ({% translate 'Email' %})</th>
          <th scope="col">{% translate 'First Name' %}</th>
          <th scope="col">{% translate 'Last Name' %}</th>
          <th scope="col">{% translate 'Passed' %}</th>
          <th scope="col">{% translate 'Certificate' %}</th>
          <th scope="col">{% translate 'Submissions' %}</th>
        </tr>
        </thead>
        <tbody>
          {% for user in run.users.all %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ user }}<br /><small><i class="far fa-envelope"></i> {{ user.email }}</small></td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{% if run|has_passed:user %}<i class="fas fa-check-circle"></i>{% endif %}</td>
            <td>
              {% if run|get_certificates:user %}
                {% for cert in run|get_certificates:user %}
                  <a href="{% url 'certificate' cert.uuid %}" class="btn btn-outline-success" target="_blank">
                    <i class="fas fa-certificate"></i> {% translate "View" %}
                  </a>
                {% endfor %}
              {% else %}
                <a href="{% url 'run_attendee_generate_certificate' run.slug user.id %}" class="btn btn-outline-{% if run|has_passed:user %}primary{% else %}secondary{% endif %}">
                  <i class="fas fa-certificate"></i> {% translate "Generate" %}
                </a>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'run_attendee_submissions' run.slug user.id %}" class="btn btn-outline-primary">
                <i class="fas fa-box-open"></i> {% translate "View" %}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>
{% endblock %}