{% extends BASE_TEMPLATE %}
{% load static %}
{% load i18n %}
{% load courses_extra %}

{% block javascript %}
  <script src="{% static 'courses/js/modal-generic.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
  {% include "courses/includes/breadcrumbs.html" with breadcrumbs=breadcrumbs %}
{% endblock %}

{% block content %}
<div class="py-5">
  <div class="container">
    <div class="row row-cols-1 {# row-cols-sm-2 row-cols-md-3 #} g-3">
    <h1>{{ atendee.first_name }} {{ atendee.last_name }}</h1>
    <p>{{ atendee.email }}</p>
    <p>
    {% if run|get_certificates:atendee %}
      {% for cert in run|get_certificates:atendee %}
        <a href="{% url 'certificate_pdf' cert.uuid %}" class="btn btn-outline-success" target="_blank">
          <i class="fas fa-certificate"></i> {% translate "View Certificate" %}
        </a>
      {% endfor %}
    {% else %}
      <a href="{% url 'run_attendee_generate_certificate' run.slug atendee.id %}" class="btn btn-outline-{% if run|has_passed:atendee %}primary{% else %}secondary{% endif %}">
        <i class="fas fa-certificate"></i> {% translate "Generate Certificate" %}
      </a>
    {% endif %}
    </p>

    {% for chapter in run.course.chapter_set.all %}
      <h3>{{ chapter.title }}</h3>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Lekcia</th>
          <th scope="col">{% translate 'Lecture type' %}</th>
          <th scope="col">{% translate 'Require submission' %}</th>
          <th scope="col">{% translate 'Require submission review' %}</th>
          <th scope="col">{% translate 'Submission' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for lecture in chapter.lecture_set.all %}
          <tr>
            <th scope="col">{{ lecture.title }}</th>
            <td>{{ lecture.lecture_type|lecture_type_icon }} {{ lecture.get_lecture_type_display }}</td>
            <td>{{ lecture.get_require_submission_display }}</td>
            <td>{{ lecture.get_require_submission_review_display }}</td>
            <td>
              {% for submission in submissions %}
                {% if submission.lecture == lecture %}

                  {% if lecture.lecture_type == 'V' %}
                    {{ submission.metadata.video_watched_percent }} %
                  {% elif submission %}
                    <a href="{% url 'lecture_submission_review' run.slug chapter.slug lecture.slug submission.id %}" class="btn btn-outline-primary"><i class="fas fa-box-open"></i> {{ submission.title }}</a>
                  {% endif %}

                {% endif %}
              {% endfor %}
            </td>

          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endfor %}

    </div>
  </div>
</div>
{% endblock %}