{% extends "base.html" %}
{% load i18n %}
{% load markdownify %}
{% load courses_extra %}
{% load embed_video_tags %}
{% load static %}

{% block css %}
  <link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet" />
{% endblock %}

{% block javascript %}
  <script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>
  <script src="https://player.vimeo.com/api/player.js"></script>
  <script src="{% static 'courses/js/video_tracking.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
  {% include "courses/includes/breadcrumbs.html" with breadcrumbs=breadcrumbs %}
{% endblock %}

{% block content %}
{% if lecture.require_submission != 'D' and form %}
  {% include "courses/includes/submission_modal.html" with form=form run=run chapter=chapter lecture=lecture %}
{% endif %}

<div class="album py-1 {# bg-light #}">
  <div class="container">

    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mr-auto">

        <div class="btn-group">
          {% url 'chapter_detail' run.slug chapter.slug as detail_page %}
          {% url 'chapter_submission' run.slug chapter.slug as submission_page %}

          {% if request.path == detail_page %}
            {% if chapter.require_submission != 'D' %}
            <a href="{{ submission_page }}#submission-form" class="btn btn-outline-success">{% translate "Chapter Submission" %}</a>
            {% endif %}
          {% elif COURSES_DISPLAY_CHAPTER_DETAILS %}
            <a href="{{ detail_page }}" class="btn btn-outline-primary">{% translate "Chapter Lectures" %}</a>
          {% endif %}

          {% if not lecture %}
            {% for lecture_type in chapter.lecture_types %}
              <a href="{% url 'chapter_lecture_types' run.slug chapter.slug lecture_type %}" class="btn {% if filter_lecture_type and lecture_type == filter_lecture_type %}btn-primary{% else %}btn-outline-primary{% endif %}">{{ lecture_type|lecture_type_icon }}</a>
            {% endfor %}
          {% endif %}
        </div>

      </div>
    </div>

    {% include "courses/includes/next_prev_lecture_buttons.html" %}

    <div class="row row-cols-2 g-3 py-3">

      <h3 class="fw-light">{{ lecture.lecture_type|lecture_type_icon }} {{ lecture.title }}</h3>
        {% if lecture.subtitle %}<h4 class="fw-light">{{ lecture.subtitle }}</h4>{% endif %}
        {% if lecture.require_submission != "D" %}<div class="text-end">{% translate "Submission" %} <span class="badge rounded-pill {% if lecture.require_submission == "N" %}bg-success{% else %}bg-danger{% endif %}">{{ lecture.get_require_submission_display }}</span></div>{% endif %}

    </div>

    <div class="row">
      {% for meeting in lecture.meeting_set.all %}
        {% if meeting.run == run %}
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-phone"></i> {% translate "Meeting" %}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ meeting.start }} - {{ meeting.end }}</h5>
            {% if meeting.leader %}
            <h6 class="card-subtitle mb-2 text-muted"> {{ meeting.leader.first_name }} {{ meeting.leader.last_name }}</h6>
            {% endif %}
            <p class="card-text">{{ meeting.description|markdownify }}</p>
            <a href="{{ meeting.link }}" class="btn btn-primary" target="_blank">{% translate "Meeting link" %}</a>
          </div>
        </div>
      </div>
        {% endif %}
      {% endfor %}

      {% if lecture.require_submission != 'D' and form %}
        {% if user_submissions %}
          {% for submission in user_submissions %}
            <div class="col-6">
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-box-open"></i> {% translate "Submission" %}
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ submission.title }}</h5>
                  <p class="card-text">{{ submission.description|markdownify }}</p>
                  <!-- Button trigger submission modal -->
                  <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#submissionModal">
                    {% translate "Submit Submission" %}
                  </button>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          {% translate "You have not submitted anything..." %}
        {% endif %}
      {% endif %}
    </div>

    <div class="row row-cols-1 g-3">
        <form id="ajax_csrf_token">
          {% csrf_token %}
        </form>
        {% if lecture.video %}
          {% video lecture.video as my_video %}
            {% video my_video "large" %}
          {% endvideo %}
{#          <iframe src="{{ lecture.video}}" width="720" height="405" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>#}
        {% endif %}
        <p>{{ lecture.description|markdownify }}</p>
        <p>
          {% if lecture.data|is_pdf %}
            <embed
              src="{{ MEDIA_URL }}{{ lecture.data }}"
              type="application/pdf"
              frameBorder="0"
              scrolling="auto"
              height="{% if lecture.metadata.height %}{{ lecture.metadata.height }}{% else %}100%{% endif %}"
              width="{% if lecture.metadata.width %}{{ lecture.metadata.width }}{% else %}100%{% endif %}"
            ></embed>

          {% elif lecture.data|is_image %}
            <img src="{{ MEDIA_URL }}{{ lecture.data }}" class="mw-100" alt="{{ lecture.metadata.alt }}" />

          {% elif lecture.data|is_video %}
            <video
              id="{% if lecture.metadata.id %}{{ lecture.metadata.id }}{% else %}{{ lecture.data|slugify }}{% endif %}"
              class="video-js mw-100"
              controls
              preload="{% if lecture.metadata.preload %}{{ lecture.metadata.preload }}{% else %}auto{% endif %}"
              {% if lecture.metadata.poster %}poster="{{ lecture.metadata.poster }}"{% endif %}
              {% if lecture.metadata.width %}width="{{ lecture.metadata.width }}"{% endif %}
              {% if lecture.metadata.height %}height="{{ lecture.metadata.height }}"{% endif %}
              data-setup="{}"
            >
              <source src="{{ MEDIA_URL }}{{ lecture.data }}" {% if lecture.metadata.type %}type="{{ lecture.metadata.type }}"{% endif %}/>
              {% if lecture.metadata.width %}
                <source src="{{ MEDIA_URL }}{{ lecture.metadata.alt_source }}" {% if lecture.metadata.alt_source_type %}type="{{ lecture.metadata.alt_source_type }}"{% endif %}/>
              {% endif %}
            </video>
          {% endif %}
        </p>
    </div>

    <div class="row justify-content-center py-3">
      <div class="col text-center">

        <div class="btn-group">
          {% for lctr in lectures %}
            <a href="{% url 'lecture_detail' run.slug chapter.slug lctr.slug %}" class="btn btn-sm btn-{% if lctr.slug != lecture.slug %}outline-{% endif %}primary">
              {{ lctr.lecture_type|lecture_type_icon }} {{ lctr.title }}
            </a>
          {% endfor %}
        </div>

      </div>
    </div>

    {% include "courses/includes/next_prev_lecture_buttons.html" %}

  </div>
</div>
{% endblock %}
