{% extends "base.html" %}


{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{ run.course.name }}</h1>
        <h2 class="fw-light">{{ run.title|upper }}</h2>
        <p class="lead text-muted">{{ run.description }}</p>
        <p>{{ run.start }} - {{ run.end }}</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for curricula in run.course.curriculum_set.all %}
        <div class="col">
          <div class="card shadow-sm">
{#            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>#}
            <div class="card-body">
              <h5 class="card-title">{{ curricula.title }}</h5>
{#              <h6 class="card-subtitle mb-2 text-muted">{{ course.title|upper }}</h6>#}
              <p class="card-text">{{ curricula.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'curriculum_detail' run.slug curricula.slug %}" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
{#                <small class="text-muted">{{ course.start }} - {{ course.end }}</small>#}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}