  <!-- Card header START -->
  <div class="card-header bg-transparent border-bottom">
    <h3 class="mb-0"><i class="fas fa-users fa-fw me-2"></i> Moja skupina</h3>
  </div>
  <!-- Card header END -->

  <!-- Card body START -->
  <div class="card-body">

    <div class="tab-pane fade active show" id="course-pills-2" role="tabpanel"
         aria-labelledby="course-pills-tab-2">
      {% for submission in submissions %}
        <div class="mb-4">
          {% include "courses/includes/submission_card.html" %}
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- Card body START -->

{% block javascript %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const player = Plyr.setup('.js-player');
  });
</script>
{% endblock %}