  <!-- Card header START -->
  <div class="card-header bg-transparent border-bottom">
    <h3 class="mb-0">Pomoc</h3>
  </div>
  <!-- Card header END -->

  <!-- Card body START -->
  <div class="card-body">
    <div class="tab-pane fade active show" id="course-pills-2" role="tabpanel"
         aria-labelledby="course-pills-tab-2">
      <p>
        Máte akékoľvek otázky, nejasnosti alebo vám niečo nefunguje?
        Napíšte nám na <a href="mailto:microbit@python.sk">microbit@python.sk</a> a radi vám pomôžeme.
      </p>
    </div>
  </div>
  <!-- Card body START -->
