  <!-- Card header START -->
  <div class="card-header bg-transparent border-bottom">
    <h3 class="mb-0"><i class="bi bi-ui-checks-grid fa-fw me-2"></i> Prehľad</h3>
  </div>
  <!-- Card header END -->

  <!-- Card body START -->
  <div class="card-body">

    <div class="tab-pane fade active show" id="course-pills-2" role="tabpanel"
         aria-labelledby="course-pills-tab-2">
      <p>Na tejto stránke sa pracuje.</p>
      <p><strong>K lekciám kurzu sa dostanete cez možnosť Zoznam lekcií vľavo.</strong></p>
    </div>
  </div>
  <!-- Card body START -->