{% load i18n %}
{% load markdownify %}
{% load courses_extra %}

<div class="album py-5 bg-light">
  <div class="container">
    <h1 class="text-center">{% translate "Course Chapters" %}</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for chapter in chapters %}
      <div class="col">
        <div class="card shadow-sm h-100">
{#            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>#}
          <div class="card-body">
            <h5 class="card-title">{{ chapter.title }}</h5>
{#              <h6 class="card-subtitle mb-2 text-muted">{{ course.title|upper }}</h6>#}
            <p class="card-text">{{ chapter.perex|markdownify }}</p>
            <div class="d-flex justify-content-between align-items-center">
              {% if user.is_authenticated and subscribed %}
              <div class="btn-group">
                <a href="{% url 'chapter_detail' run.slug chapter.slug %}" class="btn btn-sm{% if chapter.active %} btn-outline-primary{% elif chapter.passed %} btn-outline-secondary{% else %} btn-outline-secondary disabled{% endif %}">{% translate "View" %}</a>
                {% if chapter.passed %}
                  <a href="{% url 'chapter_detail' run.slug chapter.slug %}" class="btn btn-sm btn-outline-danger disabled">{% translate "Ended" %}</a>
                {% elif not chapter.active and chapter.start %}
                  <a href="{% url 'chapter_detail' run.slug chapter.slug %}" class="btn btn-sm btn-outline-primary disabled">{{ chapter.start|timedelta }}</a>
                {% endif %}
              </div>
              {% endif %}
              {% if chapter.start %}
              <small class="text-muted">{{ chapter.start }} - {{ chapter.end }}</small>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>