{% load i18n %}
{% load markdownify %}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">{{ course.title }}</h1>
      {% if run %}
        <h2 class="fw-light">{{ run.title|upper }}</h2>
      {% endif %}
      <p class="lead text-muted">{{ course.description|markdownify }}</p>
      {% if run %}
        <p>{{ run.start }}{% if run.end %} - {{ run.end }}{% endif %}
          {% if run.self_paced %}<br>{% translate "Self-paced" %}{% endif %}
        </p>
        {% if user.is_authenticated %}
          <p>
            {% if subscribed %}
              <a href="{% url "unsubscribe_from_run" run.slug %}" class="btn btn-primary my-2">{% translate "Unsubscribe" %}</a>
            {% else %}
              <a href="{% url "subscribe_to_run" run.slug %}" class="btn btn-primary my-2">{% translate "Subscribe" %}</a>
            {% endif %}
          </p>
        {% endif %}
      {% endif %}
    </div>
  </div>
</section>