{% load i18n %}
{% load markdownify %}
{% load courses_extra %}

<div class="col">
  <div class="card shadow-sm">
    {# <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>#}
    <div class="card-body">
      <h5 class="card-title">{{ course.title }}
        {% if not course.has_active_runs %}
          <span class="badge bg-secondary">{% translate "No active runs" %}</span>
        {% endif %}
      </h5>
      {% if run %}<h6 class="card-subtitle mb-2 text-muted">{{ run.title|upper }}</h6>{% endif %}

      <p class="card-text">
        {% if run and run.perex %}
          {{ run.perex|markdownify }}
        {% elif course.perex %}
          {{ course.perex|markdownify }}
        {% else %}
          {{ course.description|markdownify }}
        {% endif %}

        {% if run.meeting_set.all %}
          {% translate "Meetings" %}:<br />
          {% for meeting in run.meeting_set.all %}
            {{ meeting.lecture.lecture_type|lecture_type_icon }} {{ meeting.start }} - {{ meeting.end|date:'H:i' }}<br/>
          {% endfor %}
        {% endif %}
      </p>

      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          {% if run %}
            {% with run|check_payment:request.user as payment %}
              <a href="{% if payment == "Unpaid" %}{% url "run_payment_instructions" run.slug %}{% else %}{% url 'course_run_detail' run.slug %}{% endif %}" class="btn btn-sm btn-outline-secondary">{% translate "View" %}</a>

              {% if run|is_subscribed:request.user %}
                <a href="{% url 'course_run_detail' run.slug %}" class="btn btn-sm btn-outline-success disabled">{% translate "Subscribed" %}</a>
                {% for cert in run|get_certificates:request.user %}
                <a href="{% url 'certificate_pdf' cert.uuid %}" target="_blank" class="btn btn-sm btn-outline-success"><i class="fas fa-certificate"></i> {% translate "Certificate" %}</a>
                {% endfor %}
              {% endif %}

              {% if run.is_past_due %}
                <a href="{% url 'course_run_detail' run.slug %}" class="btn btn-sm btn-outline-danger disabled">{% translate "Ended" %}</a>
              {% elif payment != "Free" %}
                <a href="{% url 'run_payment_instructions' run.slug %}" class="btn btn-sm btn-outline-{% if payment == "Unpaid" %}danger{% else %}success disabled{% endif %}">{% translate "Payment" %}</a>
              {% endif %}
            {% endwith %}
          {% else %}
              <a href="{% url 'course_detail' course.slug %}" class="btn btn-sm btn-outline-secondary">{% translate "View" %}</a>
          {% endif %}
        </div>

        {% if run %}
        <small class="text-muted">
          <i class="fas fa-calendar-alt"></i> {{ run.start }}
          {% if run.end %} - {{ run.end }}{% endif %}
          {% if run.self_paced %} - {% translate "Self-paced" %}{% endif %}
        </small>
        {% endif %}
      </div>

    </div>
  </div>
</div>
