{% load i18n %}
{% load markdownify %}

<section class="py-5 container">
  <div class="row {#py-lg-5#}">
    <div class="col-lg-8 col-md-10 mx-auto text-center">
      <h1 class="fw-light">{{ course.title }}</h1>
      {% if run %}
        <h2 class="fw-light">{{ run.title|upper }}</h2>
      {% endif %}
    </div>
  </div>
  <div class="row {#py-lg-5#}">
    <div class="col">
      <p class="lead">{{ course.description|markdownify }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      {% if run %}
        <p>{{ run.start }}{% if run.end %} - {{ run.end }}{% endif %}
          {% if run.self_paced %}<br>{% translate "Self-paced" %}{% endif %}
        </p>
        {% if user.is_authenticated and not run.is_past_due %}
          <p>
            {% if subscribed %}
              <a href="{% url "unsubscribe_from_run" run.slug %}" class="btn btn-primary my-2">{% translate "Unsubscribe" %}</a>
            {% else %}
              <a href="{% url "subscribe_to_run" run.slug %}" class="btn btn-primary my-2">{% translate "Subscribe" %}</a>
            {% endif %}
          </p>
        {% endif %}
      {% endif %}
    </div>
  </div>
</section>