{% load i18n %}
{% load courses_extra %}

<div class="row justify-content-center">
  <div class="col-6 text-center">

    <div class="btn-group">
    {% for lctr in lectures %}
      {% if lctr.order|subtract:lecture.order == -1 %}
          <a href="{% url 'lecture_detail' run.slug chapter.slug lctr.slug %}" class="btn btn-outline-primary">
            « {% translate "Previous lecture" %}
          </a>
      {% elif lctr.order|subtract:lecture.order == 1 %}
          <a href="{% url 'lecture_detail' run.slug chapter.slug lctr.slug %}" class="btn btn-outline-primary">
            {% translate "Next lecture" %} »
          </a>
      {% endif %}
    {% endfor %}

    {% if request.user.is_staff %}
      {% url 'lecture_submissions' run.slug chapter.slug lecture.slug as lecture_submissions_url %}
      <a href="{{ lecture_submissions_url }}" class="btn{% if request.path == lecture_submissions_url %} btn-primary{% else %} btn-outline-primary{% endif %}">
        <i class="fas fa-box-open"></i> {% translate "Submissions" %}
      </a>
    {% endif %}
    </div>

  </div>
</div>
