{% load i18n %}
{% load markdownify %}
{% load bootstrap5 %}
{% load courses_extra %}

<div class="py-5 container">
  <div class="row py-lg-5">
    {% if user_submissions %}
      {% for submission in user_submissions %}
        <div class="col-12 mx-auto">
          <b>{{ submission.title }}</b>
        </div>
        <div class="col-12 mx-auto">
          <p>{{ submission.description|markdownify }}</p>
        </div>
      {% endfor %}
    {% elif form %}
    <form method="post" enctype="multipart/form-data" id="submission-form">
      <legend>{% translate "My Submission" %}</legend>
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
      </div>
    </form>
    {% endif %}
  </div>
</div>
