{% load i18n %}
{% load bootstrap5 %}

<!-- Modal -->
<div class="modal fade" id="submissionModal" tabindex="-1" aria-labelledby="submissionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">

    <form method="post" enctype="multipart/form-data" id="submission-form" action="{% url 'lecture_detail' run.slug chapter.slug lecture.slug %}">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="submissionModalLabel"><i class="fas fa-box-open"></i> {% translate "My Submission" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate "Close" %}"></button>
      </div>
      <div class="modal-body">

        <div class="container">
          <div class="row">
            {% csrf_token %}
            {% bootstrap_form form %}
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> {% translate "Save changes" %}</button>
      </div>
    </div>

    </form>

  </div>
</div>