name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DEBUG: True
    strategy:
      matrix:
        include:
          - python-version: [3.7, 3.8, 3.9]
            django-version: [Django==3.2, Django==3.1]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install {{ matrix.django-version }} -r requirements.txt
    - name: Run unit tests with Python ${{ matrix.python-version }}
      run: |
        python runtests.py
